<!-- views/categories/index.ejs -->
<%- include('../partials/_errorMessage') %>
<div class=" text-blue-900 mb-1">
  <h1 class="font-bold">Categories</h1>
</div>
<div class="mb-2">
  <form action="/categories"  method="POST">
    <label for="category-name">Category name</label>
    <div class="flex gap-1 py-1">
      <input class="mb-0" type="text" placeholder="Category name" id="category-name" name="name">
      <select class="mb-0" name="parentCategory">
        <option>No Parent Category</option>
        <% categories.forEach(category => { %>
          <option value="<%= category.id %>"><%= category.name %></option>
        <% }); %>
      </select>
      <button type="submit" class="btn-primary">Save</button>
    </div>
  </form>
</div>
<!-- Display all categories -->
<table class="basic mt-2">
  <thead>
    <tr>
      <td>Category Name</td>
      <td></td>
    </tr>
  </thead>
  <tbody>
    <% categories.forEach(category => { %>
      <tr>
        <td><%= category.name %></td>
        <td>
          <%- include('../partials/_deleteForm', { url: `/categories/delete/${category.id}` }) %>
        </td>
      </tr>
    <% }); %>
  </tbody>
</table>